<!DOCTYPE html>
<html>
<head>
    <title>Müzik Sayfası</title>
    <link rel="stylesheet" href="...\static\css\stil2.css">
</head>
<body>
    <h1>                              Müziklerim altta! Herhangi birine tıkla!</h1>
    <ul>
    <li><a href = 'https://www.youtube.com/watch?v=NVGVFQhWPjU'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=rwRyNBcxmEc'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=48SuFtm4YC0'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=aWNjSkelbmY'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=iup8sfOe-3Y&list=RDnTdw39ugHh4&index=25'>müzik</a></li>
    <li><a href = 'http://127.0.0.1:5000/dahaçokmüzik'>Daha çok müzik istiyorsan...</a></li>
    <li><a href = 'http://127.0.0.1:5000/anasayfa'>anasayfa</a></li>
    </ul>
</body>
</html>