<!DOCTYPE html>
<html>
<head>
    <title>Daha çok müzik</title>
    <link rel="stylesheet" href="...\static\css\stil2.css">
</head>
<body>
    <h1>                        Daha çok müzik mi istiyorsun? Alta bak! Herhangi birini seç!</h1>
    <ul>
    <li><a href = 'https://www.youtube.com/watch?v=9GjtwbHG5Ao'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=muu6AalQd5k&list=RDnTdw39ugHh4&index=26'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=QcVRSbnJViw&list=RDnTdw39ugHh4&index=25'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=Y7H0lyKacpw&list=RDnTdw39ugHh4&index=31'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=c5hRwY_nEg4&list=RDnTdw39ugHh4&index=29'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=nZtU27b6n_4'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=Mj24jncrGis&list=RDnTdw39ugHh4&index=37'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=iaS4RX-JSK0'>müzik</a></li>
    <li><a href = 'https://www.youtube.com/watch?v=8FkfNksAJTg'>müzik</a></li>
    <li><a href = 'http://127.0.0.1:5000/müziksayfası'>geri</a></li>
    <li><a href = 'http://127.0.0.1:5000/anasayfa'>anasayfa</a></li>
    <li><a href = 'http://127.0.0.1:5000/rastgeleseçimsayfası'>rastgele seçim sayfası</a></li>
    </ul>
</body>
</html>